doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Squod
    link(rel='stylesheet', href='/style.css')
  body
    h1 Squod
    input#input(type='text', placeholder='add')
    button#go(type='button') Go! 
    #boxes 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='/main.js')
